.DS_Store
.env
backend/.env

# Backend local data
backend/data/db.json

# Node
backend/node_modules/
api-gateway/node_modules/
mobile/node_modules/
api-gateway/.env
mobile/.expo/
mobile/dist-*/
mobile/mobile/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
